{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">    
    <h3>
      {{ author.get_full_name }}
    </h3>
  {% include 'posts/includes/author_card.html'%}
  {% if user != author %}
    {% if following %}
      <a
        class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
      >
        Отписаться
      </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
    {% endif %}
  {% endif %}
  </div> <!--class="mb-5"-->
  {% for post in page_obj %} 
  {% include 'posts/includes/post.html' %}
  {% if not forloop.last %} 
  <hr>
  {% endif %}
  {% endfor %}     
{% include 'posts/includes/paginator.html' %}  
</div> <!--class="container py-5"-->
{% endblock %}
